<configuration>
	<configSections>
		<section name="system.data" type="System.Data.Common.DbProviderFactoriesSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>

	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description="MySQL Data Provider"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.31.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="EfDBcontexter"
			 connectionString="Server=127.0.0.1;Port=3306;Database=csharpserverstudydb;User Id=Server;Password=0000;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
